@use 'custom' as *;



body {
    background: #e9ffcc;
    text-align: center;
    font-family: 'Oswald', cursive;
}

.container {
    max-width: auto;
    
    margin: auto;
    background: #fff;
    padding: 1%;
}

h1,
h2,
h3 {
    font-family: 'Oswald', sans-serif;;
    color: #000;
}

nav {
    background: #e9ffcc;
    text-align: center;
}

nav ul li {
    display: inline-block;
    padding: 1%;
}

nav ul li a {
    text-decoration: none;
    font-size: 1em;
    color: black;
    font-weight: bold;
    
}

h1 {
    text-align: center;
    font-size: 65px;
}

.main {
    width: 890px;
    float: center;
}

.qs {
    width: 250px;
    
}

.cq {
    width: 250px;
    
}

.pca {
    width: 250px;
    
}

.ec {
    width: 250px;
    
}

.taco {
    width: 250px;
    
}

.fln {
    width: 250px;
    
}

.scene {
    width: 175%;
    float: center;
}
p{
    padding: .5em;
}
article {
    background: white;
    padding: 0.5%;
}


table {
  width:100%;
}
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
th, td {
  padding: 15px;
  text-align: left;
}
table#t01 tr:nth-child(even) {
  background-color: #eee;
}
table#t01 tr:nth-child(odd) {
 background-color: #fff;
}
table#t01 th {
  background-color: black;
  color: white;
}
footer {
    clear: both;
    background: #e9ffcc;
    text-align: center;
    padding: 1%;
}