@use "../custom" as *;

.mainPage {
    padding: 10rem 0 0 0;
    width: 100%;
    height: 100%;
     .h1{
         --bs-body-font-family: 'Beau Rivage', 'Oswald' !important;
     }
}

.picture {

    border: 10px solid black;

}
