@use "../custom" as *;

.cardComponent {
    flex-direction: row;
    display: flex;
    flex-wrap: wrap;
}

.cardComponent {
    flex: 1 1 160px;
    margin: 10px;
}

.card {
    border-radius: 5px;
}